<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="styles.css">
        <title>MchatHub</title>
    </head>

    <body>
        <div class="container">
            <h1>Welcome To MChatHub [MCH]</h1>
            <h3>Start Chatting Now !</h3>
            <h4>Scure</h4>
            <h4>Fast</h4>
            <h4>Multi-Features</h4>
        </div>

        <script src="script.js"></script>
    </body>
</html>
