<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Simple Chatting Web Application , Get Started Now With many features , Everything is free !!">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="styles.css">
        <script src="https://kit.fontawesome.com/ca3244dd5f.js" crossorogin="anonymous"></script>
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"-->
        <title>MchatHub</title>
    </head>

    <body>
        <div class="container">
            <h2>Welcome To MChatHub [MCH]</h1>
            <a href="/login" style="text-decoration: none;color: rgb(32, 32, 32);"><h3 style="margin-top: 10px; border-style: solid;font-size: 14px;">Start Chatting Now !</h3></a>

            <p class="p-que" id='question'>> What is special about us ? <</p>
            <ul id="list">
                <li>Secure <i class="fas fa-lock"></i></li>
                <li>Fast <i class="fas fa-bolt"></i></li>
                <li>Multi-Features <i class="fas fa-tools"></i></li>
            </ul>

            <section class="footer">
                <a href="https://www.facebook.com/profile.php?id=61560579815068"><i class="fab fa-facebook"></i></a>
                <a href="https://youtube.com/@loris_yas"><i class="fab fa-youtube"></i></a>
                <a href="https://linkedin.com/in/yassin-loris-a79006387"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/Yas-Devp"><i class="fab fa-github"></i></a>
            </section>
        </div>

        <script src="script.js"></script>
    </body>
</html>
