<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="styles.css">
        <title>MchatHub</title>
    </head>

    <body>
        <div class="container">
            <h2>Welcome To MChatHub [MCH]</h1>
            <h3>Start Chatting Now !</h3>

            <ul style="display: flex;flex-direction: column;align-items: start;">
                <li>Secure</li>
                <li>Fast</li>
                <li>Multi-Features</li>
            </ul>
        </div>

        <script src="script.js"></script>
    </body>
</html>
