@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(233, 233, 233);
    color: rgb(32, 32, 32);
    font-family: TikTok Sans;
}

.container{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}
.container h2{
    margin-top: auto;
    text-decoration: underline;
}

.container h3{
    background-color: #fff;
    padding: 10px;
    border-radius : 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container h3:hover{
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.p-que{
    width: fit-content;
    height: 20px;
    margin-top: 50px;
    list-style-type: square;
    transition: 0.3s;
    font-size: 16px;
}

.p-que:hover{
    cursor: pointer;
}

.container ul{
    flex-direction: column;
    align-items: start;
    display: flex;
    opacity: 0;
    list-style: none;
    margin-top: 10px;
    transition: 0.3s;
    gap: 8px;
}
.container ul li{
    font-size: 1rem;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.container ul li i{
    align-self: end;
}

.container ul li:hover{
    cursor: pointer;
}

.footer{
    background-color: #000;
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer a i{
    font-size: 25px;
}

.footer a:hover{
    color: rgb(233, 233, 233);
}

/* Tap Highlight? Not on my watch */

*{
    user-select: none;
}

a, button{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

a, img{
    draggable: false;
}