*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    color: rgb(32, 32, 32);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h4:nth-child(1){
    margin-top: 20px;
}

.container h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}