*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    color: rgb(32, 32, 32);
}

.container{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2{
    text-align: center;
}
.container ul li{
    font-size: 2rem;
}